.container {
    position: relative;
    width: 1920px;
    height: 1080px;
  }
.container img{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    border: 1px solid #707070;
    opacity: 1;
}
.container .btn-tryitnow{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 284px;
    height: 79px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    font-size: 16px;
    border-radius: 79px;
    padding: 12px 24px;
    text-align: center;
    border:transparent;
}

.slide-text{
    margin-left: 15%;
    margin-top: 15%;
    top: 414px;
    /* left: 262px; */
    width: 1396px;
    height: 77px;
    text-align: left;
    font: normal normal bold 50px/56px Helvetica Neue;
    letter-spacing: 6.5px;
    color: #FFFFFF;
    opacity: 1;
}
.slide-text2{
    margin-left: 25%;
    top: 521px;
    left: 506px;
    width: 820px;
    height: 81px;
    text-align: left;
    font: normal normal normal 28px/40px Helvetica Neue;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    opacity: 1;
}