/* Hero section */
.container {
    position: relative;
    width: 1920px;
    height: 1080px;
  }
.container img{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    border: 1px solid #707070;
    opacity: 1;
}
 .btn-tryitnow{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 284px;
    height: 79px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    font-size: 16px;
    border-radius: 79px;
    padding: 12px 24px;
    text-align: center;
    border:transparent;
}
.slide-text{
    margin-left: 15%;
    margin-top: 15%;
    top: 414px;
    /* left: 262px; */
    width: 1396px;
    height: 77px;
    text-align: left;
    font: normal normal bold 50px/56px Helvetica Neue;
    letter-spacing: 6.5px;
    color: #FFFFFF;
    opacity: 1;
}
.slide-text2{
    margin-left: 25%;
    top: 521px;
    left: 506px;
    width: 820px;
    height: 81px;
    text-align: left;
    font: normal normal normal 28px/40px Helvetica Neue;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    opacity: 1;
}

.awssld__bullets button{
    background-color: white;
}
.awssld__bullets .awssld__bullets--active{
    background-color:lightgray;
}
.awssld__bullets{
    bottom: 30px;
}
/* Red section */
.red-background{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #D34848;
    display: flex;
    flex-direction: row;
}
.red-text{
    top: 331px;
    left: 184px;
    width: 773px;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 6%;
    margin-top:200px;
    margin-bottom:13%;
}
.red-text2{
    width: 879px;
    height: 121px;
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #0B0B0B;
    opacity: 1;
    margin-left: 6%;
}
.btn-demo{
    left: 50px;
    width: 284px;
    height: 79px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    top: 80%;
    border-radius: 79px;
    border:transparent;
    text-align: center;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color: #D1346E;
    opacity: 1;    
}
.btn-red-tryitnow{
    margin-top: 95px;
    margin-left: 500px;
    width: 248px;
    height: 62px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 79px;
    opacity: 1;
    color: #D1346E;
    border:transparent;
    font: normal normal bold 20px/25px Helvetica Neue;
}

/* Yellow section */
.yellow-background{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #FFB33F;
    display: flex;
    flex-direction: row;
}
.yellow-text{

    width: 814px;
    height: 200px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-left:100px;
    margin-top:200px;
}
.yellow-text:hover{
  height: 200px;
    background: -webkit-radial-gradient(#eee, rgb(104, 158, 17),rgb(17, 113, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.yellow-text2{
    top: 2000px;
    left: 900px;
    width: 831px;
    height: 121px;
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #0B0B0B;
    opacity: 1;
    margin-left:100px;
}
.yellow-text2:hover{
    background: -webkit-radial-gradient(#eee, rgb(52, 75, 14),rgb(47, 60, 66));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-yellow-tryitnow {
    margin-top: 95px;
    margin-left: 750px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#FFFFFF 0% 0% no-repeat padding-box;
    padding: 1em 2em;
    border: none;
    color: #FFB33F;
    font-size: 1.2em;
    font: normal normal bold 20px/25px Helvetica Neue;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 79px;
  }
  .btn-yellow-tryitnow span {
    position: relative;
    pointer-events: none;
  }
  .btn-yellow-tryitnow::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, pink, transparent);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }
  .btn-yellow-tryitnow:hover::before {
    --size: 400px;
  }
  
  .img-container {
    position: relative;
    width: 50%;
  }
  
  .circle-img {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    background-color: black;
  }
  
  .img-container:hover .overlay {
    opacity: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn-demo-yellow{
    left: 40%;
    width: 284px;
    height: 79px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    top: 80%;
    border-radius: 79px;
    border:transparent;
    text-align: center;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color:  #FFB33F;
    opacity: 1;    
  }
  /* Perks section */
  .gap-container{
    width: 1920px;
    height: 100px;
    background-color:white;
  }
  .perks-background{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:black;
    display: flex;
    flex-direction: row;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 150px;
    border-bottom-style: dashed;
  }
  .perks-title{
    top: 3560px;
    left: 174px;
    width: 282px;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
  }
  .perks-content{
    top: 3759px;
    left: 188px;
    width: 383px;
    height: 185px;
    text-align: left;
    font: normal normal bold 51px/62px Helvetica Neue;
    letter-spacing: 5.1px;
    
    opacity: 1;
  }
  .perks-content2{
    top: 3972px;
    left: 188px;
    width: 433px;
    height: 163px;
    text-align: left;
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    opacity: 1;
  }
  .line{
    height:2px;
    border:none;
    width:300px;
    margin-left:7px;
  }
  .perks-tryitnow{
    position: absolute;
    top:10%;
    left:78%;
    width: 284px;
    height: 79px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    font-size: 16px;
    border-radius: 79px;
    /* padding: 12px 24px; */
    text-align: center;
    border:transparent;
  }
  /* review section */
  .review-background{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #1FE1E9;
    display: flex;
    flex-direction: row;
  }
  .review-text{
    top: 100px;
    width: 773px;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-top:200px;
  }
  .star-review{
    font-size: 50px;
  }
  .review-small-content{
    top: 5032px;
    width: 142px;
    height: 42px;
    text-align: left;
    font: normal normal bold 35px/43px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    opacity: 1;

  }
  .review-small-content2{
    top: 5098px;
    width: 308px;
    height: 122px;
    text-align: left;
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #191919;
    opacity: 1;
  }
  .btn-review-tryitnow{
    margin-top: 30px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#FFFFFF 0% 0% no-repeat padding-box;
    padding: 1em 2em;
    border: none;
    color: #1FE1E9;
    font-size: 1.2em;
    font: normal normal bold 20px/25px Helvetica Neue;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 79px;
  }
  /* get exp section */
  .get-background{
    position: relative;
    width: 1920px;
    height: 814px;
    background-color:black;
    display: flex;
    flex-direction: column;
  }
  .get-text{
    margin-top:20%;
    margin-left:100px;
    width: 1000px;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 5px;
    color: #D34848;
    opacity: 1;
  }
  .get-text2{
    margin-left:100px;
    width: 941px;
    height: 60px;
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #FFFFFF;
    opacity: 1;
  }
.get-tryitnow{
    position: absolute;
    top:50%;
    left:1500px;
    width: 284px;
    height: 79px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    font-size: 16px;
    border-radius: 79px;
    /* padding: 12px 24px; */
    text-align: center;
    border:transparent;
}